:root {
  --bgColor: rgb(0, 0, 0);
  --a1Color: 33, 150, 243;
  --a2Color: 227, 18, 18;
  --a3Color: 18, 227, 35;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: grid;
  place-items: center;
  background-color: var(--bgColor);
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.card {
  display: flex;
  position: relative;
  width: 300px;
  aspect-ratio: 10/16;
  border-radius: 1em;
  overflow: hidden;
  z-index: 10;
}

.card.blue {
  border: 3px solid rgb(var(--a1Color), 0.5);
  background: rgb(var(--a1Color), 0.1);
}

.card.red {
  border: 3px solid rgb(var(--a2Color), 0.5);
  background: rgb(var(--a2Color), 0.1);
}

.card.green {
  border: 3px solid rgb(var(--a3Color), 0.5);
  background: rgb(var(--a3Color), 0.1);
}

@media only screen and (max-width: 600px) {
  body {
    overflow: none;
  }
  .card {
    display: flex;
    position: relative;
    width: 90vw;
    height: 90vh;
    aspect-ratio: 10/16;
    margin: 1.2em;
    overflow: hidden;
    z-index: 10;
  }
  #blob {
    display: none !important;
  }
}

.screen-overlay {
  height: 100%;
  width: 100%;
  z-index: 2;
  animation: pan-overlay 22s infinite linear;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.screen-overlay.blue {
  background: linear-gradient(
    rgba(var(--a1Color), 0.3),
    rgba(var(--a1Color), 0.3) 3px,
    transparent 3px,
    transparent 9px
  );
  background-size: 100% 9px;
}

.screen-overlay.red {
  background: linear-gradient(
    rgba(var(--a2Color), 0.3),
    rgba(var(--a2Color), 0.3) 3px,
    transparent 3px,
    transparent 9px
  );
  background-size: 100% 9px;
}

.screen-overlay.green {
  background: linear-gradient(
    rgba(var(--a3Color), 0.3),
    rgba(var(--a3Color), 0.3) 3px,
    transparent 3px,
    transparent 9px
  );
  background-size: 100% 9px;
}

.screen-image {
  height: 100%;
  width: 100%;
  background-size: 500%;
  background-repeat: no-repeat;
  opacity: 0.6;
  animation: pan-image 15s linear infinite;
  position: absolute;
  z-index: 1;
}

.screen-image.blue {
  filter: contrast(100%) sepia(100%) hue-rotate(160deg);
  background-image: url("https://images.unsplash.com/photo-1515266591878-f93e32bc5937?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=100");
}

.screen-image.red {
  filter: contrast(100%) sepia(50%) hue-rotate(310deg);
  background-image: url("https://img.freepik.com/free-photo/turret-arch-arches-national-park-utah_333098-101.jpg?w=2000&t=st=1679674668~exp=1679675268~hmac=735cb25ca429f7748b6d6a84b710069c1916607a7b9cfcd037fe3727d3a13bda");
}

.screen-image.green {
  filter: contrast(100%) sepia(100%) hue-rotate(90deg);
  background-image: url("https://img.freepik.com/free-photo/coniferous-forest-mountains-natural-background_169016-25001.jpg?w=2000&t=st=1679675067~exp=1679675667~hmac=209bf789e6131c303aa6ad98d0f431780e2209cc19fa5a3e392e7aabfaf53e11");
}

.screen-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  position: relative;
  flex-grow: 1;
  z-index: 3;
  margin: 1em;
  background-color: transparent;
  border-radius: 1em;
  font-family: "Source Code Pro", monospace;
}

.screen-content.blue {
  border: 1px solid rgb(var(--a1Color), 0.5);
}

.screen-content.red {
  border: 1px solid rgb(var(--a2Color), 0.5);
}

.screen-content.green {
  border: 1px solid rgb(var(--a3Color), 0.5);
}

.screen-content img {
  width: 100px;
  background: transparent;
  text-shadow: 0px 0px 20px #ffffff;
  filter: drop-shadow(0px 0px 10px #ffffff);
}

.inverse-image {
  rotate: 180deg;
}

.screen-content .heading {
  background: transparent;
  color: #ffffff;
  font-size: 2em;
  text-align: center;
  text-decoration: underline;
  text-shadow: 0px 0px 20px #ffffff;
}

#blob {
  display: block;
  background: #ffffff;
  height: 24vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(
    rgb(var(--a1Color)),
    rgb(var(--a2Color)),
    rgb(var(--a3Color))
  );
  animation: rotate 20s infinite;
  opacity: 1;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  backdrop-filter: blur(12vmax);
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

@keyframes pan-overlay {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 -100%;
  }
}

@keyframes pan-image {
  0% {
    background-position: 50% 15%;
    background-size: 300%;
  }

  20% {
    background-position: 70% 0%;
    background-size: 300%;
  }

  20.000001% {
    background-position: 30% 50%;
    background-size: 250%;
  }

  40% {
    background-position: 50% 50%;
    background-size: 250%;
  }

  40.000001% {
    background-position: 10% 30%;
    background-size: 300%;
  }

  60% {
    background-position: 10% 70%;
    background-size: 300%;
  }

  60.000001% {
    background-position: 35% 30%;
    background-size: 200%;
  }

  80% {
    background-position: 70% 30%;
    background-size: 200%;
  }

  80.000001% {
    background-position: 80% 70%;
    background-size: 200%;
  }

  100% {
    background-position: 30% 30%;
    background-size: 200%;
  }
}
